*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-content: center;
    height: 100%;
    padding: 5%;
    background: url(https://images.pexels.com/photos/4439901/pexels-photo-4439901.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) repeat ;
    background-size: cover;
    font-family: "Source Sans Pro", sans-serif;
}
h2{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 300;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgba(255,255,255,0.3);
    border-radius: 20px;
    width: 700px;
    padding: 20px;
    transform: translateY(-2000px);
    transition: all 2s ease;
    box-shadow: 8px 1px 11px 1px rgba(224, 224, 248, 0.38);
-webkit-box-shadow: 8px 1px 11px 1px rgba(216, 216, 252, 0.38);
-moz-box-shadow: 8px 1px 11px 1px rgba(224, 224, 235, 0.38);
}
.container .project-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 50px;
    height: 80px;
}
.project-links .links{
    display: flex;
   padding: 10px;
   justify-content: space-between;
    position: absolute;
    left: 60%;
}
.project-links:hover{
    background-color: #399529;
    border-radius: 40px;
}
.project-links a{
    text-decoration: none;
    color: #333;
    display: flex;
   font-size: 1.2rem;
   
}
.project-links a i{
    color: #4d4d4d;
    font-size: 1.1rem;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    background-color: #d6d6d6;
}


@media (max-width:590px){
   body{
       padding: 0;
       display: block;
   }
   
    .container{
        width: 100%;
        min-width: 200px;
        height: 100%;
        padding: 0;
        
    }
   .container .project-links{
        width: 100%;
        margin: 0;
        padding: 0;
        padding-left: 10px;
        font-size: 1rem;
    }
    .project-links .links{
        left: 50%;
    }
    h2{
        font-size: 1.1rem;
    }
}
